# Executables & Binaries
*.out
*.exe
*.o
*.obj
*.app

# Build directories
build/
bin/
obj/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Saved blackboard files from your program
*.bb